.bundle-info {
  display: flex;
  justify-content: space-around;
  background-image: url('../../../public/assets/img/bundle_background.png');
  background-position: 37%;
  background-repeat: no-repeat;
  background-size: contain;
}

.bundle-item-list {
  width: 632px;
}

.bundle-price {
  width: 184px;
  margin-bottom: 53px;
}

.bundle-item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  border-radius: 1px;
  border: 1px solid rgba(103, 29, 0, 0.48);
  padding: 5px;
  margin-bottom: 1px;
  cursor: pointer;
}

.bundle-prop-img-block {
  position: relative;
}

.bundle-prop-img {
  position: absolute;
  left: 68px;
  height: 891px;
  bottom: 112px;
}

@media (max-width: 1770px) {
  .bundle-prop-img-block {
    display: none;
  }
}

.bundle-item-title {
  color: #fff;
  font-size: 16px;
}

.bundle-price {
  color: #fff;
  font-size: 50px;
  font-weight: 400;
}

.bundle-price-block {
  display: flex;
  align-items: end;
  position: relative;
  margin-left: 42px;
}

.buy-btn {
  width: 180px;
  text-transform: uppercase;
  border-radius: 7px;
  background-color: #fcff00;
  padding: 12px 15px;
  font-size: 16px;
  color: #000;
  cursor: pointer;
}
